<section id="basic_questions" class="demo">
  <div></div>
  <div>
    <div class="form_title">Let's start with some basic questions</div>
    <div class="explanation">
      This will help us figure out your dividend check and take some first guesses at your spending.
    </div>
    <form>
      <div class="form-group row">
        <label for="adults" class="col-form-label col-4">ADULTS</label>
        <div class="col-8">
          <select class="form-control number_select" id="adults">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="adults" class="col-form-label col-4">CHILDREN</label>
        <div class="col-8">
          <select class="form-control number_select" id="children">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="zip" class="col-form-label col-4">Zip Code</label>
        <div class="col-4">
          <input type="zip" size="8" class="form-control" id="zip" placeholder="Zip Code">
        </div>
      </div>
      <div class="form-group row">
        <label for="income" class="col-form-label col-4">Household Income</label>
        <div class="col-8">
          <select class="form-control" id="income">
            <option>$20,000 - $40,000</option>
            <option>$40,000 - $60,000</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a href="#spending" class="scroll-down">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>