<section id="intro" class="demo intro_container">
  <div></div>
  <div>
    <div class="calculator_title">
      CARBON FEE AND DIVIDEND CALCULATOR
    </div>

    <div class="explanation text-muted">
      Tell us a little bit about your lifestyle and we'll give you a personal estimate of the impact our solution will have on your budget.
    </div>
  </div>
  <div class="footer">
    <a href="#basic_questions" class="scroll-down">
      <div class="get_started">Get Started</div>
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>