<section id="results" class="demo">
  <div></div>
  <div>
    <div class="form_title">Your Results</div>
    <div class="explanation">
    </div>
    <div class="row top_buffer">
      <div class="col-sm-8"><h4>Monthly post-tax dividend</h4></div>
      <div class="col-sm-4 dividend"></div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">Dividend checks are based on the number of people in a household, not on income or spending.</div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-8"><h4>Cost of carbon fee</h4></div>
      <div class="col-sm-4 cost"></div>
    </div>
    <div class="row top_buffer bottom_buffer">
      <div class="col-sm-12 text-muted">Calculated by looking at your location and energy usage.</div>
    </div>
    <hr/>
    <div class="row top_buffer">
      <div class="col-sm-8 form_title">Estimated net impact*</div>
      <div class="col-sm-4 form_title net_impact"></div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted summary">
        <span class="summary_profit">Awesome! You should end up with some extra money each month.</span>
      </div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">Want more money in your pocket? <a href="#">Learn how to reduce your footprint</a> and keep more of your dividend check</div>
    </div>
  </div>
  <div class="share_row">
    <div class="row">
      <div class="col-sm-6"><label>Print: </label> <i class="fa fa-print"></i></div>
      <div class="col-sm-6"><label>Share: </label> <i class="fa fa-twitter"></i><i class="fa fa-facebook"></i></div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">* In real life there are many other factors to consider. However, this estimate is expected to be accurate within a range of 75%</div>
    </div>
  </div>
</section>