<section id="spending" class="demo">
  <div></div>
  <div>
    <div class="form_title">Next, a couple of questions about your spending.</div>
    <div class="explanation">
      Households similar to your spend approximately $200/month on electricity and $40/month on gasoline. If this doesn't align with your spending, make adjustments here.
    </div>
    <form>
      <div class="form-group">
        <label for="electricity">Typical Electricity Bill</label>
        <div>
          <input id="electricity" class="my_slider form-control" data-slider-id='electricity' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
          $<span id="electricityCurrentSliderValLabel"><span id="electricitySliderVal">14</span></span>
        </div>
      </div>

      <div class="form-group">
        <label for="gasoline">Typical Gasoline Expenditure</label>
        <div>
          <input id="gasoline" class="my_slider form-control" data-slider-id='gasoline' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
          $<span id="gasolineCurrentSliderValLabel"><span id="gasolineSliderVal">14</span></span>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a href="#results" class="scroll-down">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>