<section id="spending" class="demo">
  <div></div>
  <div>
    <div class="form_title">Next, a couple of questions about your spending.</div>

    <div class="calculating">
      <i class="fa fa-spinner fa-spin"></i> Calculating Presets <i class="fa fa-spinner fa-spin"></i>
    </div>

    <div class="spending explanation">
      Let us know about how much you spend on electricity and gas or, if you've entered basic information above, we can
      <a href="#spending" id="calculate">calculate</a> defaults for you based on similar households.
    </div>

    <form>
      <div class="form-group">
        <label for="electricity">Typical Monthly Electricity Bill</label>
        <div>
          <input id="electricitySlider" class="my_slider form-control" data-slider-id='electricity' type="text" data-slider-min="0"
                 data-slider-max="300" data-slider-step="1" data-slider-value="100"/>
          $<span id="electricityCurrentSliderValLabel"><span id="electricitySliderVal">100</span></span>
        </div>
      </div>

      <div class="form-group">
        <label for="gasoline">Typical Weekly Gasoline Expenditure</label>
        <div>
          <input id="gasolineSlider" class="my_slider form-control" data-slider-id='gasoline' type="text" data-slider-min="0"
                 data-slider-max="300" data-slider-step="1" data-slider-value="100"/>
          $<span id="gasolineCurrentSliderValLabel"><span id="gasolineSliderVal">100</span></span>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a href="#results" class="scroll-down">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>