<section id="intro" class="demo intro_container">
  <div></div>
  <div>
    <div class="calculator_title">
      CARBON FEE AND DIVIDEND CALCULATOR
    </div>

    <div class="explanation text-muted">
      Tell us a little bit about your lifestyle and we'll give you a personal estimate of the impact our solution will have on your budget.
    </div>
  </div>
  <div class="footer">
    <a href="#basic_questions" class="scroll-down">
      <div class="get_started">Get Started</div>
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>
<section id="basic_questions" class="demo">
  <div></div>
  <div>
    <div class="form_title">Let's start with some basic questions</div>
    <div class="explanation">
      This will help us figure out your dividend check and take some first guesses at your spending.
    </div>
    <form>
      <div class="form-group row">
        <label for="adults" class="col-form-label col-4">ADULTS</label>
        <div class="col-8">
          <select class="form-control number_select" id="adults">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="adults" class="col-form-label col-4">CHILDREN</label>
        <div class="col-8">
          <select class="form-control number_select" id="children">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="zip" class="col-form-label col-4">Zip Code</label>
        <div class="col-4">
          <input type="zip" size="8" class="form-control" id="zip" placeholder="Zip Code">
        </div>
      </div>
      <div class="form-group row">
        <label for="income" class="col-form-label col-4">Household Income</label>
        <div class="col-8">
          <select class="form-control" id="income">
            <option>$20,000 - $40,000</option>
            <option>$40,000 - $60,000</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a href="#spending" class="scroll-down">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>
<section id="spending" class="demo">
  <div></div>
  <div>
    <div class="form_title">Next, a couple of questions about your spending.</div>
    <div class="explanation">
      Households similar to your spend approximately $200/month on electricity and $40/month on gasoline. If this doesn't align with your spending, make adjustments here.
    </div>
    <form>
      <div class="form-group">
        <label for="electricity">Typical Electricity Bill</label>
        <div>
          <input id="electricity" class="my_slider form-control" data-slider-id='electricity' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
          $<span id="electricityCurrentSliderValLabel"><span id="electricitySliderVal">14</span></span>
        </div>
      </div>

      <div class="form-group">
        <label for="gasoline">Typical Gasoline Expenditure</label>
        <div>
          <input id="gasoline" class="my_slider form-control" data-slider-id='gasoline' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
          $<span id="gasolineCurrentSliderValLabel"><span id="gasolineSliderVal">14</span></span>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a href="#results" class="scroll-down">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</section>
<section id="results" class="demo">
  <div></div>
  <div>
    <div class="form_title">Your Results</div>
    <div class="explanation">
      Households similar to your spend approximately $200/month on electricity and $40/month on gasoline. If this doesn't align with your spending, make adjustments here.
    </div>
    <div class="row top_buffer">
      <div class="col-sm-8"><h4>Monthly post-tax dividend</h4></div>
      <div class="col-sm-4">$66</div>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">Adults x2</div>
      <div class="col-sm-4">$44</div>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">Children x2</div>
      <div class="col-sm-4">$44</div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">Dividend checks are based on the number of people in a household, not on income or spending.</div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-8"><h4>Cost of carbon fee</h4></div>
      <div class="col-sm-4">$43</div>
    </div>
    <div class="row top_buffer bottom_buffer">
      <div class="col-sm-12 text-muted">Calculated by doing X, Y & Z</div>
    </div>
    <hr/>
    <div class="row top_buffer">
      <div class="col-sm-8 form_title">Estimated net impact*</div>
      <div class="col-sm-4 form_title">$66</div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">Awesome! You should end up with some extra money each month.</div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">Want more money in your pocket? <a href="#">Learn how to reduce your footprint</a> and keep more of your dividend check</div>
    </div>
  </div>
  <div class="share_row">
    <div class="row">
      <div class="col-sm-6"><label>Print: </label> <i class="fa fa-print"></i></div>
      <div class="col-sm-6"><label>Share: </label> <i class="fa fa-twitter"></i><i class="fa fa-facebook"></i></div>
    </div>
    <div class="row top_buffer">
      <div class="col-sm-12 text-muted">* In real life there are many other factors to consider. However, this estimate is expected to be accurate within a range of 75%</div>
    </div>
  </div>
</section>